.idea/
build/
osmie.iml
out/
.vscode/
data/
src/main/java/spellchecker/random_forest/__pycache__/
.gradle/
src/__init__.py
src/main/__init__.py
src/main/python/__init__.py
model.bin
src/main/java/neural_nets/DeepLearningTester.java
src/main/java/neural_nets/spellchecker/DeepLearningRunner.java 
